<!-- The Footer -->
<!-- <head>        
  <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
</head> -->
<footer
  aria-label="Site Info"
  class="d-flex flex-column justify-content-center text-muted flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3">
  <div class="card container" id=forum-banner>
    <h2>Didn't find an answer to your question?</h2>
    <a href=https://tech.safesquid.com/ class=btn>Offical Forum For SafeSquid</a>
  </div>
  <br>
  <!-- <p>Developed and maintained by SafeSquid Labs, a strategic business unit of Office Efficiencies (INDIA) Private Limited.</p> -->
</footer>
