#topics {
    padding: 0px 0;
    width: 90%;
    margin: auto;
    color: var(--text-color-dark);
}

#topics h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-color-dark);
}

#topics-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    background-color: var(--white-color);

}

#topics .card {
    display: block;
    width: 300px;
    min-height: 250px;
    margin: 10px;
    padding: 40px 30px;
    text-align: center;
    background-color: var(--white-color);
}

#topics .card i {
    font-size: 40px
}

#topics .card h3 p {
    margin: 20px 0
}

#forum-banner {
    max-width: 500px;
    padding: 40px;
    border: 1px solid var(--primary-color);
    background-color: var(--white-color);
}

#forum-banner h2 {
    margin-bottom: 30px;
    text-align: center
}